.App {
  background-image: url("./background.webp");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.balance {
  position: absolute;
  left: 0px;
  top: 0px;
}